//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md0: 1199.98;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


// /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b681d+0,18bf1e+52,2b681d+100 */
// background: rgb(43,104,29); /* Old browsers */
// background: -moz-linear-gradient(left,  rgba(43,104,29,1) 0%, rgba(24,191,30,1) 52%, rgba(43,104,29,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(left,  rgba(43,104,29,1) 0%,rgba(24,191,30,1) 52%,rgba(43,104,29,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to right,  rgba(43,104,29,1) 0%,rgba(24,191,30,1) 52%,rgba(43,104,29,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b681d', endColorstr='#2b681d',GradientType=1 ); /* IE6-9 */



$MainBackColor: #f0f0f0;
$lineGradient: linear-gradient(to right,  rgba(43,104,29,1) 0%,rgba(24,191,30,1) 52%,rgba(43,104,29,1) 100%); 
$TextColor: #dcdcdc;
// $TextHover: #18BF1E;
$mainColor: #3a3a3a;
$mainHover: #18bf1e;
$buttonHover: #268d29;
$menuHover: #616161;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	background-color: $MainBackColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0px 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// .page__main-slider
	&__main-slider {
	}
	// .page__advantages
	&__advantages {
	}
	// .page__products
	&__products {
	}
	// .page__rooms
	&__rooms {
	}
	// .page__tips
	&__tips {
	}
	// .page__furniture
	&__furniture {
	}
}
//===================================================================================================================================
@import "home.scss";
@import "contacts.scss";
@import "price.scss";
@import "about.scss";
@import "questions.scss";
@import "licenses.scss";
@import "education.scss";
@import "404.scss";

//</ОСНОВНОЙ БЛОК>====================================================================================================
